@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');
@import "tailwindcss"; 
@plugin "daisyui";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0; 
  padding: 0; 
  line-height: 1.5; 
  font-family: "Almendra SC", serif;
}

.navbar {
  position: fixed;    /* stays at the top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;        /* make sure it’s above other content */
  background-color: black; /* solid background so text stays readable */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 70px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@theme {
  --color-matcha: "#a8c686",
  --color-coffee: oklch(0.3367 0.0429 19.56)
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.paragraph {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
